

nav{
    background-color: #313638;
}

.Intro{
    margin: auto;
    text-align: center;
    
    color: white;
}
.infos{
    width: 25%;
    background-color: #313638;
    color: #e16131;
    position: relative;
    float: left;
    
}
.cursus{
    width: 75%;
    background-color: white;
    color: #313638;
    position: relative;
    float: right;
}
.corps{
    background-color: #313638;
}

h1{
    font-style: bold;
    text-decoration: underline  #e16131;
    
}
.objet{
    margin-top: 5%;
}
.navigation{
    background-color: red;
    position: sticky;
    top: 0;
}
.Titre{
    color: #e16131;
}
.princip{
    margin-top: 5%;
    background-color: #313638;
    background: linear-gradient(-45deg,#ffffff, #e16131, #313638,#000000);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
.princip2{
    background-color: #313638;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.Categorie{
    margin-top: 3%;
}

.item{
    margin: auto;
}
.Moi{
    margin-top: 5%;
    
}
.Carousel{
    margin-top: 3%;
}

.ligne{
    background-color: #e16131;
    
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
    background-color: transparent;
  }
  #scroll_to_top img {
    width: 50px;
  }